.login{
    display: flex;
    place-items: center;
    justify-content: space-between;
    height: 100vh;
}

.loginLeft img{
    height: 100%;
    width: 100%;
}
.loginLeft{
    width: 550px;
    height: 600px;
    display: flex;
    justify-content: flex-start;
}

.loginRight > img{
    object-fit: contain;
    height: 70px;
    margin: 20px auto;
}

.loginRight{
    display: flex;
    flex-direction: column;
    margin-left: 96px;
}

.login form{
    display: flex;
    flex-direction: column;
}

.login form input {
    width: 350px;
    height: 50px;
    font-size: 20px;
    border: 0px;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.login form button{
    width: 365px;
    height: 50px;
    font-size: large;
    color: #fff;
    background-color: #0074b1;
    border: 2px solid;
    border-radius: 5px;
}

.login__register{
    cursor: pointer;
    color: #0074b1;
}

.login p{
    margin-top: 20px;
}

@media screen and (max-width:650px){
    .loginLeft{
        display: none;
    }
    .loginRight{
        margin-left: 4px;
    }
}
